.hero{
   padding: 1rem;
   margin-bottom: 1rem;
   border-radius: 1rem;
   background-color: #385170;
   position:relative;
}
.close{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.3rem;
    font-weight: normal;
    color: white;
}
img{
    border-radius: 1rem;
}